/* General Demo Style */
@import url('font-awesome.css');
body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #fff;
    /*background: #1C263C url(../img/page_top_img.png) no-repeat center top;*/
    background-color:#566275;
    background-repeat:no-repeat;
    background-position:center top;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
    line-height: 1.21;
    /*background: #54514A url(../img/page_top_img.png) 0 0 repeat-x;*/
}

a {
	cursor: pointer;
	color: #4E493F;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-top: 1px solid #eee;
}

li {
	margin: 0 !important;
}
.main,
	
.container > header {
	width: 100%;
	height: 10%;
	max-height: 69em;
	margin: 0 auto;
	/*padding: 0 1.875em 3.125em 1.875em;*/
}

.container > header {
	padding: 0.5em 1.8em 1.1em;
	background-repeat:repeat-x;
    background-position: 0 0;*/
	
}

.container > header h1 {
	color: #000000;
	font-size: 2.125em;
	font-weight: 400;
	float: left;
	line-height: 1;
	margin: 0;
}

.container > header span {
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	/*padding: 0 0 0.6em 0.1em;*/
}

.container > header nav {
	float: right;
	
}

.container > header nav a {
	display: block;
	float: left;
	position: relative;
	width: 2.5em;
	height: 2.5em;
	/*background: #fff;*/
	background: #67911D;
	border-radius: 50%;
	color: transparent;
	margin: 0 0.1em;
	/*border: 4px solid #47a3da;*/
	border: 4px solid #3A3730;
	text-indent: -8000px;
}

.container > header nav a:after {
	content: attr(data-info);
	color: #4E4B41;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	opacity: 0;
	pointer-events: none;
}

.container > header nav a:hover:after {
	opacity: 1;
}

.container > header nav a:hover {
	background: #A6C237;
}

.main > section {
	max-width: 260px;
	width: 90%;
	margin: 0 auto;
}

.main > section h2 {
	font-weight: 300;
	color: #4E493F;
}

.main > section button {
	border: none;
	background: #fff;
	color: #4E4B41;
	padding: 1.5em;
	display: block;
	width: 100%;
	cursor: pointer;
	margin: 10px 0;
	font-size: 0.8em;
}

.main > section button:hover {
	background: #4E4B41;
}

.main > section button.active {
	background: #4E4B41;
}

.main > section button.disabled {
	background: #aaa;
	pointer-events: none;
}

.icon-menu:before,
.icon-drop:before, 
.icon-arrow-left:before {
	font-family: 'fontawesome';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 2;
	text-align: center;
	color: #477F0C;
	-webkit-font-smoothing: antialiased;
	text-indent: 8000px;
	padding-left: 8px;
}

.container > header nav a:hover:before {
	color: #fff;
}

.icon-menu:before {
	content: "\f0c2";
}

.icon-drop:before {
	content: "\e000";
}

.icon-arrow-left:before {
	content: "\f060";
}

