.supercal {
	width: 100%;
	background-image: linear-gradient(to bottom, #454545 0%, #2B2B2B 100%);
	color: #fff;
	
}

.supercal .supercal-header {
	display: block;
	line-height: 30px;
	margin-bottom: 20px;
	text-align: center;
	position: relative;
}

.supercal .supercal-header .prev-month {
	float: left;
	background-image: linear-gradient(to bottom, #454545 0%, #2B2B2B 100%);
}

.supercal .supercal-header .next-month {
	float: right;
	background-image: linear-gradient(to bottom, #454545 0%, #2B2B2B 100%);
}

.supercal-month {
	position: relative;
	z-index: 0;
	overflow: hidden;
}
.supercal table {
	width: 100%;
	table-layout: fixed;
	/**background: #fff;*/
	background-image: linear-gradient(to bottom, #454545 0%, #2B2B2B 100%);
	border-color: #FFF;
	margin: 0 auto;"
	display: table;
}

.supercal td {
	cursor: pointer;
	background:#49DC37;/**/
}

.supercal td:hover {
	background: #2f96b4 !important;
	color: #fff;
}
.supercal td.month-prev, .supercal td.month-next {
	background: #BDBDBD;
	color: #000000;
} 
.supercal td.selected {
/*	background: #A9D0F5;*/
	color: #fff;
	font-weight: normal;
}
.supercal td.today {
	font-weight: bold;
	color: #fff;
/*	background: #3683D9;*/
}

/* Footer */
.supercal .supercal-footer {
	width: 100%;
	display: table;
}
.supercal .supercal-footer span.supercal-input {
	display: table-cell;
	width: 100%;
	cursor: default;
}

.TodayColor td{
		background:#49DC37;
}

.diaInactivo td{
		background-image: linear-gradient(to bottom, #454545 0%, #2B2B2B 100%);
}


/********

Check
*********/
.badgebox
{
    opacity: 0;
}

.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{ 
    box-shadow: inset 0px 0px 5px; 
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}

    
.funkyradio   {
    margin-bottom: -21px;
}

.funkyradio label {
    /*min-width: 400px;*/
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content:'';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}
.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
  /**  color: #777;**/
}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
.funkyradio-default input[type="radio"]:checked ~ label:before, .funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}
.funkyradio-primary input[type="radio"]:checked ~ label:before, .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}
.funkyradio-success input[type="radio"]:checked ~ label:before, .funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}
.funkyradio-danger input[type="radio"]:checked ~ label:before, .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}
.funkyradio-warning input[type="radio"]:checked ~ label:before, .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}
.funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}
